body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray);
  width: 100vw;
  height: 100vh;
}

p, a, label, h2, h3, th, td{
  font-family: var(--font-family), sans-serif;;
}
