<div class="form-wrapper">

    <p class="form-wrapper__title">
      Добро пожаловать, войдите в свой аккаунт!
    </p>

  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()" class="form">

    <div class="inputs-wrapper">
      <p class="inputs-wrapper__hint">Введите вашу электронную почту</p>
      <mat-form-field appearance="outline">
        <mat-label>Электронная почта</mat-label>
        <input
          matInput
          formControlName="email"
          id="email"
          type="text"
          (focus)="resetFormErrors()">
        <mat-error class="form__error" *ngIf="email?.hasError('required')">
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>

      <p class="inputs-wrapper__hint">Введите ваш пароль</p>
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          formControlName="password"
          id="password"
          type="password"
          (focus)="resetFormErrors()">
        <mat-error class="form__error" *ngIf="password?.hasError('required')">
          Поле обязательно для заполнения
        </mat-error>
      </mat-form-field>
    </div>

    <mat-error class="form__error" *ngIf="(loginForm.hasError('unauthorized'))">
      Неверный логин или пароль
    </mat-error>

    <div class="button-wrapper">
      <button mat-flat-button type="submit" class="button-wrapper__button">
        Войти
      </button>
      <a href="#" class="button-wrapper__password">Забыли пароль?</a>
    </div>

  </form>

</div>
